.img{
    width: 115px;
}
.container{
    margin: 100px;
    padding: 40px;
}
.cart{
    margin: 100px 0px;
    background-color: #F6F5FA;
    padding: 5px;
}
.form-control .cart-item{
    background-color: #F6F5FA;
    border: none;
    width: 55px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 20px;
}
.form-control{
    display: block;
    padding: 5px;
    color: #495057;
    background-clip: padding-box;
}